@import "../../../assets/styles/variables.scss";

.radius {
  display: flex;
  align-items: center;
  border-radius: 2rem;
}

.darkGreen {
  margin-right: 40px;
  font-family: Lexend;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  background: $backgroundGreenLight;
  color: $textGreen;
  border: none;
  transition: all 0.3s ease;
  height: max-content;

  &:hover {
    cursor: pointer !important;
    background: $textGreen !important;
    color: $backgroundGreenLight !important;
  }
}

.dark {
  display: flex;
  font-family: Lexend;
  color: $text;
  font-size: 14px;
  line-height: 17.5px;
  height: max-content;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid $text;
  background: rgba(255, 255, 255, 0.1);
  gap: 0.625rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;

  svg {
    transform: rotate(90deg) !important;
    height: 18px !important;
    path {
      transition: all 0.3s ease;
    }
  }

  &:hover {
    color: $textWhite !important;
    border: 1px solid $text !important;
    background: $text !important;

    svg {
      path {
        fill: $text !important;
      }
    }
  }
}

.common {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  color: white;
  border: none;
  background-color: $backgroundGreen;
  width: 110px;
  height: 48px;
  padding: 12px, 16px, 12px, 16px !important;
  gap: 4px;
  border: 1px solid $backgroundGreen;
  transition: all 0.3s ease;
  outline: none;

  svg {
    path {
      transition: all 0.3s ease;
    }
  }

  &:hover {
    background: $backgroundGreenLight !important;
    color: $backgroundGreen !important;
    cursor: pointer !important;

    svg {
      path {
        fill: $backgroundGreen !important;
      }
    }
  }
}

.secondary {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-family: Lexend;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

  color: $textGray;
  background-color: white;
  width: max-content;
  height: 52px;
  padding: 24px 14px;
  gap: 4px;
  border: 1px solid $backgroundGray;
  transition: all 0.3s ease;

  svg {
    path {
      fill: $textGray !important;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    background: $backgroundGreenLight !important;
    color: $backgroundGreen !important;
    border: 1px solid $backgroundGreen !important;
    cursor: pointer;

    svg {
      path {
        fill: $backgroundGreen !important;
      }
    }
  }
}

.secondary_active {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-family: Lexend;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;

  background: $backgroundGreenLight;
  color: $backgroundGreen;
  border: 1px solid $backgroundGreen;
  width: max-content;
  height: 52px;
  padding: 24px 14px;
  gap: 4px;

  svg {
    path {
      fill: $backgroundGreen;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.arrow {
  display: flex;
  justify-content: center;

  background-color: $backgroundGray;
  width: 60px;
  height: 52px;
  padding: 16px 12px;
  border: 1px solid $backgroundGray;
  transition: all 0.3s ease;

  svg {
    path {
      fill: $text;
      transition: all 0.3s ease;
    }
  }

  &:hover {
    background: $backgroundGreen !important;
    border: 1px solid $backgroundGreen !important;
    cursor: pointer;

    svg {
      path {
        fill: white !important;
      }
    }
  }
}
