@import "../../assets/styles/variables.scss";

.modal_container {
  z-index: 111111;
  position: fixed; // Фиксированное позиционирование
  top: 0; // Прижато к верху экрана
  left: 0; // Прижато к левому краю экрана
  width: 100%; // Занимает всю ширину экрана
  height: 100%; // Занимает всю высоту экрана
  display: flex; // Использует flexbox для выравнивания
  align-items: center; // Выравнивает по центру по вертикали
  justify-content: center; // Выравнивает по центру по горизонтали
  background:  rgba(0, 0, 0, 0.5); // Применяет фоновый цвет
  visibility: hidden; // Скрывает контейнер по умолчанию
  opacity: 0; // Делает контейнер прозрачным по умолчанию
  transition: visibility 0s, opacity 0.5s; // Добавляет переход для видимости и прозрачности
}

.modal {
  width: max-content; // Применяет ширину
  height: max-content; // Применяет высоту
  border-radius: 10px; // Применяет скругление
  transform: scale(0); // Уменьшает модальное окно до нуля по умолчанию
  transition: transform 0.5s; // Добавляет переход для трансформации
}


// Стили для кнопки закрытия модального окна
.modal_close {
  z-index: 111111;
  position: absolute !important; // Абсолютное позиционирование
  top: 10px !important; // Отступ сверху
  right: 10px !important; // Отступ справа
  width: 30px !important; // Ширина кнопки
  height: 30px !important; // Высота кнопки
  border: none !important; // Убирает рамку
  background: none !important; // Убирает фон
  cursor: pointer; // Делает курсор указателем
  padding: 10px 10px !important;
  margin: 5px 5px !important;
}

// Стили для крестика на кнопке закрытия
.modal_close::before,
.modal_close::after {
  content: "" !important; // Добавляет пустое содержимое
  position: absolute !important; // Абсолютное позиционирование
  top: 50% !important; // Центрирует по вертикали
  left: 50% !important; // Центрирует по горизонтали
  width: 20px !important; // Ширина линии
  height: 2px !important; // Высота линии
  background: $textDarken !important; // Цвет линии
  transform-origin: center !important; // Центр трансформации
}

// Поворачивает линии на 45 и -45 градусов
.modal_close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal_close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal_container.active {
  visibility: visible; // Делает контейнер видимым
  opacity: 1; // Делает контейнер непрозрачным
}

.modal_container.active .modal {
  transform: scale(1); // Возвращает модальное окно к нормальному размеру
}
