@import "../../assets/styles/variables.scss";

.display {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 85%;
  padding: 90px 0;
  margin-inline: auto;
}

.page {
  &_title {
    color: $text;
    padding: 10px 1%;
    border-bottom: 1px solid $textMuted;
  }

  &_box {
    display: flex;

    &_filters {
      width: 30%;
    }

    &_properties {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 70%;
      padding: 10px 1%;
      height: max-content;
      border-left: 1px solid $textMuted;

      .search {
        display: flex;
        justify-content: center;
        width: 100%;

        &_input {
          width: 50%;

          input {
            font-family: Lexend;
            color: $text;
          }
        }
      }

      &_items {
        padding: 20px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px;
      }
    }
  }
}
