@import "../../assets/styles/variables.scss";

.wrapper {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  height: max-content;
  gap: 16px;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    width: 0;
  }
}
