@import "../../../assets/styles/variables.scss";

.container {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0);
  padding: 20px 0;
  background-color: rgb(#ffffff, 0.5);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid $textGray;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
  }

  .link {
    display: flex;
    width: 50%;
    justify-content: space-between;
    padding: 0 0 0 6vw;
  }

  &_box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;

    &_menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      width: max-content;
      justify-content: space-between;
    }
  }
}
