@import "../../../assets/styles/variables.scss";

.container {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, 0);
  padding: 20px 0;
  background-color: rgb($textWhite, 0.3);
  backdrop-filter: blur(10px);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 6vw;
  }

  &_box {
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      width: max-content;
      justify-content: space-between;
    }
  }
}

.popup_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 89%;
  left: 65vw;
  z-index: 100; /* Устанавливаем высокий z-index для отображения списка поверх других элементов */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border: 1px solid $text;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 115px;

  a {
    font-family: Lexend;
    color: $text;

    &:hover {
      border-radius: 5px;
      background-color: $textWhite;
    }
  }
}
