@import "../../assets/styles/variables.scss";

.container {
  display: flex;
  justify-content: center;
  height: max-content;
  width: 100%;
  gap: 60px;
  padding: 90px 6vw;

  .box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0 0 0;
    width: 30%;
  }

  .title {
    color: $text;
    font-size: 35px;
    width: 100%;
    border-bottom: 1px solid $textMuted;
  }

  .propeties {
    display: flex;
    width: 70%;
    height: max-content;
    flex-direction: column;
    gap: 25px;
    padding: 25px;

    &_items {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 10px;

      gap: 25px;
    }

    .avatar {
      height: 250px;
      width: 250px;
      border-radius: 25px;
      border: 2px dashed $textMuted;

      &_box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        font-family: Lexend;
        font-weight: 500;
        font-size: 20px;
        color: $textMuted;

        svg {
          font-size: 40px;

          path {
            fill: $textMuted;
          }
        }
      }
    }
  }
}
