@import "../../../assets/styles/variables.scss";

.avatar {
  &_icon {
    font-family: Lexend;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;

    &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
