@import "../fonts/fonts.scss";

$text: #1b1c57;
$textMuted: rgba(99, 102, 136, 0.75);
$textGray: #888b97;
$textWhite: #f0f3fd;
$textGreen: #047857;
$textYellow: #f59e0b;

$textDarken: #0e1735;
$textDarkenGrey: #3c4563;

$backgroundGreenLight: #d1fae5;
$backgroundGreen: #10b981;
$backgroundGray: #e0e3eb;
