@import "../fonts/fonts.scss";

$text: #1b1c57;
$textMuted: #636688bf;
$textGray: #888b97;
$textWhite: #f0f3fd;
$textGreen: #047857;
$textYellow: #f59e0b;

$textDarken: #0e1735;
$textDarkenGrey: #3c4563;

$backgroundGreenLight: rgb(209, 250, 229);
$backgroundGreen: #10b981;
$backgroundGreenSecond: #47b892;

$backgroundGray: #e0e3eb;

$buttonGrey: #d9d9d9;
